Inclusive_Analysis/**/build/
Inclusive_Analysis/**/*.pdf
Inclusive_Analysis/**/*.root
Inclusive_Analysis/**/*.png
Inclusive_Analysis/**/*.fzd
Inclusive_Analysis/star-upc/AnaOutput_Inclusive_analysis_Kstar_phi_old_data_TOF_tests_sigmaValues.txt
test/build
test/run
star-upc/build
star-upc-new/build
Exclusive_Analysis/build
plots/dime_K0K0.root
plots/dime_LLBar.root
.vscode
.DS_Store