Inclusive_Analysis/**/build/
Inclusive_Analysis/**/*.pdf
Inclusive_Analysis/**/*.root
Inclusive_Analysis/**/*.png
Inclusive_Analysis/**/*.fzd
Inclusive_Analysis/**/*.so
Inclusive_Analysis/**/*.zip
Inclusive_Analysis/**/*.out
Inclusive_Analysis/**/*.err
Inclusive_Analysis/star-upc/AnaOutput_Inclusive_analysis_Kstar_phi_old_data_TOF_tests_sigmaValues.txt
Inclusive_Analysis/**/.sl*/
Inclusive_Analysis/**/CVS/
Inclusive_Analysis/starsim/starsim_and_bfc/*.session.xml
Inclusive_Analysis/starsim/starsim_and_bfc/*.dataset
Inclusive_Analysis/starsim/starsim_and_bfc/*.csh
Inclusive_Analysis/starsim/starsim_and_bfc/*.condor
Inclusive_Analysis/starsim/starsim_and_bfc/*.report
Inclusive_Analysis/starsim/starsim_and_bfc/*.list
Inclusive_Analysis/starsim/starsim_and_bfc/star_scheduler_logs/
Inclusive_Analysis/starsim/starsim_and_bfc/results/
Inclusive_Analysis/starsim/starsim_and_bfc/background_scripts_and_testing
Inclusive_Analysis/starsim/starsim_and_bfc/send.package
Inclusive_Analysis/starsim/starsim_and_bfc/send.zip
Inclusive_Analysis/starsim/starsim_and_bfc/schedTemplateExp.xml
Inclusive_Analysis/starsim/starsim_and_bfc/fpsgeom.txt
Inclusive_Analysis/starsim/starsim_and_bfc/prs*.txt
test/build
test/run
star-upc/build
star-upc-new/build
Exclusive_Analysis/build
plots/dime_K0K0.root
plots/dime_LLBar.root
.vscode

