Inclusive_Analysis/star-upc/build/
Inclusive_Analysis/star-upc/*.root
Inclusive_Analysis/pythia/build/
Inclusive_Analysis/pythia/*.root
test/build
test/run
star-upc/build
Exclusive_Analysis/build
.vscode